[project]
	description = Impala-955 : Bytes built-in function added.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pranav Lodha (pranavyl)
[access "refs/for/refs/*"]
	read = group user/Pranav Lodha (pranavyl)
	push = group user/Pranav Lodha (pranavyl)
	label-Code-Review = -2..+2 group user/Pranav Lodha (pranavyl)
	label-Verified = -1..+1 group user/Pranav Lodha (pranavyl)
	rebase = group user/Pranav Lodha (pranavyl)
	removeReviewer = group user/Pranav Lodha (pranavyl)
	submit = group user/Pranav Lodha (pranavyl)
[access "refs/heads/*"]
	read = group user/Pranav Lodha (pranavyl)
	create = group user/Pranav Lodha (pranavyl)
	push = +force group user/Pranav Lodha (pranavyl)
	pushMerge = group user/Pranav Lodha (pranavyl)
[access "refs/tags/*"]
	push = group user/Pranav Lodha (pranavyl)
	push = +force group user/Pranav Lodha (pranavyl)
